#s1 {
color:#0066ff;
font-family:verdana;
font-size:50;
text-align:center;
     }
 .s2 {
 color:#ffa64d;
 font-family:italics;
 font-size:50;
 text-align:center;
      }
	  body{background-color:powderblue; font-family:Algerian; text-align:center; text-align:center;}
h1 {color:red ;
    }
p { color:green ;
}